.App {
  text-align: left;
}

table {
  text-align: center;
}

#inputLatLong {
  width: 300px;
}

th {
  background-color: #dddddd;
  color: rgb(0, 0, 0);
}

tr:nth-child(even){
  background-color: #e7e6e6;
  color: rgb(0, 0, 0);
}

tr:hover {
  background-color: #d1eaff;
}

.departureTime {
  text-align: left;
}

.ubahn-badge, .sbahn-badge, .train-badge {
    padding: 3px 7px;
    border-radius: 6px;
}

.train-badge {
    border-radius: 0;
    background: #e40916;
}

.bus-icon, .ubahn-icon, .sbahn-icon {
    margin: 5px;
}

.modeCol { display: flex; align-items: center; justify-content: center }
