.App {
  text-align: left;
}

table {
  text-align: center;
}

#inputLatLong {
  width: 300px;
}

th {
  background-color: #dddddd;
  color: rgb(0, 0, 0);
}

tr:nth-child(even){
  background-color: #e7e6e6;
  color: rgb(0, 0, 0);
}

tr:hover {
  background-color: #d1eaff;
}

.departureTime {
  text-align: left;
}
