.App {
  text-align: left;
}

table {
  text-align: center;
}

#inputLatLong {
  width: 300px;
}

th {
  background-color: #dddddd;
  color: rgb(0, 0, 0);
}



tr:nth-child(even){
  background-color: #e7e6e6;
  color: rgb(0, 0, 0);
}

tr:hover {
  background-color: #d1eaff;
}

.departureTime {
  text-align: left;
}

.lineSvg {
  height: 16px;
  vertical-align: auto;
}

.ubahn-badge, .sbahn-badge, .train-badge {
    padding: 0px 4px;
    font-weight: bold;
    color: white;
}

.train-badge {
    border-radius: 0;
    background: #e40916;
}

.lineDisplayText {
  margin-left: 2px;
  font-weight: 500;
}

.modeCol { display: flex; align-items: center; justify-content: center }